* {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  background-color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin-right: auto;
  margin-left: 5vh;
}

.links {
  margin-right: 5vh;
}

.links a {
  text-decoration: none;
  color: black;
  padding-left: 2vh;
}

body {
  background: linear-gradient(to right, #6930c3, #5390d9);
  /* background-color: #5e60ce; */
  margin: 0;
  overflow-y: scroll;
}
@media (min-width: 1200px) {
  .outer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4vh;
  column-gap: 4vh;
  height: 80vh;
  padding: 5vh;
}

.item {
  /* box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2); */
  text-align: left;
  padding: 1vh 3vh;
  border-radius: 2vh;
  /* background-color: white; */
  max-height: 80vh;
}

.hero {
  color: white;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.screengrab {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 2vh;
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.3);
  background-image: url(screengrab.jpg);
  background-size: contain;
  background-position: bottom;
}

.pricing {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 1vh 3vh;
  margin: 2vh;
  border-radius: 2vh;
  background-color: white;
  max-height: 80vh;
  text-align: center;
}

@media (max-width: 414px) {
  * {
    overflow-y: auto;
  }

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .items {
    overflow: hidden;
    width: 80vh;
    padding: 0;
    margin: 0;
  }

  .hero {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .screengrab {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .sub {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    height: auto;
  }

  h1 {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1vh;
    margin-top: 2vh;
    font-size: 2em;
  }

  .links {
    margin-right: 0;
    margin-bottom: 1vh;
  }

  .nav-links.home {
    padding-left: 0;
  }
}
